# anything that was built
build/*
# Vim swap files
**.swp
# Doxygen generated documentation
/html
doxygen_sqlite3.db
# ctags tags
tags
# YouCompleteMe dust
.ycm_extra_conf.pyc
# documentation
doc/*
# Python cache
python_interface/__pycache__

.vscode/*
backup/*
equivalence_or_not/tables/*
equivalence_or_not/*/*.json
dyadic/tables/*
dyadic/*/*.json
revlib/tables/*
revlib/*/*.json
benchmark*/**/tables/**
benchmark*/**/*.json
POPL24/TABLES/Algorithms/*.pdf
POPL24/TABLES/Algorithms/*.tex
POPL24/TABLES/Algorithms/*.log
POPL24/TABLES/Algorithms/*.aux
benchmark*/_others/**